class Coprctl < Formula
  desc "IaC for COPR"
  homepage "https://github.com/jfhbrook/public/tree/main/copr-tools"
  url "https://github.com/jfhbrook/public/releases/download/copr-tools-{{ version }}-{{ patch }}/copr-tools-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "MIT"

  depends_on "bash" => :recommended
  depends_on "docker" => :optional

  def install
    bin.install "bin/coprctl-docker" => "coprctl"
  end

  test do
    system "false"
  end
end
