class CoprTools < Formula
  desc "Run Fedora and COPR build tools in Docker"
  homepage "https://github.com/jfhbrook/public/tree/main/coprctl"
  url "https://github.com/jfhbrook/public/releases/download/copr-tools-{{ version }}/copr-tools-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "MIT"

  depends_on "bash" => :recommended
  depends_on "docker" => :optional

  def install
    bin.install "bin/copr-tools" => "copr-tools"
  end

  test do
    system "false"
  end
end
