class Pyp2spec < Formula
  desc "pyp2spec is a tech preview. It is a tool generating Fedora RPM spec files for Python distributions."
homepage "https://github.com/befeleme/pyp2spec"
  url "https://github.com/jfhbrook/public/releases/download/copr-tools-{{ version }}-{{ patch }}/copr-tools-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "MIT"

  depends_on "bash" => :recommended
  depends_on "docker" => :optional

  def install
    bin.install "bin/pyp2spec-docker" => "pyp2spec"
  end

  test do
    system "false"
  end
end
