class Tito < Formula
  desc "A tool for managing rpm based git projects"
  homepage "https://github.com/rpm-software-management/tito"
  url "https://github.com/jfhbrook/public/releases/download/copr-tools-{{ version }}/copr-tools-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "GPL-2.0-only"

  depends_on "bash" => :recommended
  depends_on "docker" => :optional

  def install
    bin.install "bin/tito" => "tito"
  end

  test do
    system "false"
  end
end
