[submodule "college/lolcode"]
	path = college/lolcode
	url = git@github.com:jfhbrook/lolcode.git
[submodule "anisotropy"]
	path = anisotropy
	url = git@github.com:jfhbrook/anisotropy.git
[submodule "pickleback"]
	path = pickleback
	url = git@github.com:jfhbrook/pickleback.git
[submodule "hacks/ihydra/jp-kernel"]
	path = hacks/ihydra/jp-kernel
	url = git@github.com:jfhbrook/jp-kernel.git
[submodule "hacks/hydra/nel"]
	path = hacks/hydra/nel
	url = git@github.com:jfhbrook/nel.git
[submodule "hacks/hydra/ihydra"]
	path = hacks/hydra/ihydra
	url = git@github.com:jfhbrook/ihydra.git
[submodule "lgpl"]
	path = lgpl
	url = git@github.com:jfhbrook/public-lgpl.git
[submodule "gpl"]
	path = gpl
	url = git@github.com:jfhbrook/gpl.git
[submodule "resume"]
	path = resume
	url = git@github.com:jfhbrook/resume.git
[submodule "trophies\\ecstatic"]
	path = trophies\\ecstatic
	url = git@github.com:jfhbrook/node-ecstatic.git
[submodule "pyee"]
	path = pyee
	url = git@github.com:jfhbrook/pyee.git
