class Copr < Formula
  desc "CLI tool to run Docker"
  homepage "https://github.com/fedora-copr/copr"
  url "https://github.com/jfhbrook/public/releases/download/coprctl-{{ version }}-{{ patch }}/coprctl-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "MIT"

  depends_on "bash" => :recommended
  depends_on "docker" => :recommended

  def install
    bin.install Dir["bin/copr-docker"] => "copr"
  end

  test do
    system "false"
  end
end
