class Korbenware < Formula
  desc "linux/unix desktop cli software"
  homepage "https://github.com/jfhbrook/public/tree/main/korbenware"
  url "https://github.com/jfhbrook/public/releases/download/korbenware-{{ version }}-{{ patch }}/korbenware-{{ version }}.tar.gz"
  sha256 "{{ sha }}"
  license "MPL-2.0"

  depends_on "bat" => :recommended
  depends_on "fzf"
  depends_on "poppler" => :recommended
  depends_on "python"
  depends_on "viu"

  def install
    bin.install Dir["bin/*"]
  end

  test do
    system "false"
  end
end
